<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SortingController</servlet-name>
        <servlet-class>Controllers.SortingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RDFController</servlet-name>
        <servlet-class>Controllers.RDFController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParkingController</servlet-name>
        <servlet-class>Controllers.ParkingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterController</servlet-name>
        <servlet-class>Controllers.FilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordController</servlet-name>
        <servlet-class>Controllers.RecordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortingController</servlet-name>
        <url-pattern>/SortingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RDFController</servlet-name>
        <url-pattern>/RDFController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParkingController</servlet-name>
        <url-pattern>/ParkingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterController</servlet-name>
        <url-pattern>/FilterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordController</servlet-name>
        <url-pattern>/RecordController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
